extends ../index.pug
include ../mixins/game.pug

block content
  if games
    ul.games
      each game in games
        li
          +game(game)
          a.buttonLink(href=`/edit?id=${game._id}`) RET
          a.buttonLink(href=`/delete?id=${game._id}` onclick="return confirm('Er du sikker?')") SLET