extends ../index.pug
include ../mixins/input.pug
block content
  form(method='post' encType="multipart/form-data")
    .inline
      +input("title", 'text', current && current.title, error && error.title)
      +input('publisher', 'text', current && current.publisher, error && error.publisher)
      +input('releaseDate', 'date', current && current.releaseDateInpStr, error && error.releaseDate)
        | Release Date
      +input('genre', 'text', current && current.genre, error && error.genre)
      +input('metascore', 'number', current && current.metascore, error && error.metascore)
        | Meta score
      +input('goty', 'checkbox', current && current.goty, error && error.goty)
      +input('coverImg', 'file')
        | Image
      input(type='submit', value='SEND')
    if current && current.coverImg
      img(src=`images/${current.coverImg}`)