doctype html
html(lang="en")
  head
    include ./head.pug
    block head

  body
    include ./partials/nav
    .wrapper
      main
        block content
          include ./mixins/game.pug
          +game(game)