/* Global */
body {
  background-color: skyblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Nav */
nav {
  padding: 12px;
}

nav a {
  color: red;
}

nav a:not(:first-of-type) {
  margin-left: 10px;
}

nav a:visited {
  color: chocolate;
}

nav a:active {
  color: darkmagenta;
}

nav a.active {
  font-weight: bold;
}

/* Main */
.wrapper {
  padding: 40px;
  margin: auto;
}

main {
  width: 600px;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  margin: auto;
}

/* Form */
form {
  display: flex;
  flex-wrap: nowrap;
}

form img {
  flex: 1 1 0%;
  max-height: 250px;
  object-fit: contain;
  object-position: right center;
}

form label.input {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: flex-start;
}

form label.input:not(:first-of-type) {
  margin-top: 10px;
}

form label.input .error {
  grid-column: 1 / span 2;
  color: crimson;
  font-size: 12px;
}

form input[type='submit'] {
  cursor: pointer;
  margin-top: 10px;
  padding: 6px;
  background-color: silver;
  border-radius: 4px;
}

form input[type='submit']:hover {
  background-color: grey;
  border-color: grey;
}

/* Game list */
ul.games {
  list-style: none;
  padding: 0;
}

.games li:not(:first-of-type) {
  margin-top: 40px;
}

.games li a.buttonLink {
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 6px;
  background-color: silver;
  border-radius: 4px;
}

.games li a.buttonLink:hover {
  background-color: grey;
  border-color: grey;
}

.games li a.buttonLink:first-of-type {
  margin-right: 8px;
}

.game .fields {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  vertical-align: middle;
}

.game img {
  width: 20%;
  object-fit: contain;
  object-position: right center;
  vertical-align: middle;
}
